body {
    font-family: 'Oswald', sans-serif;
}

.header {
    margin-bottom: 5px;
    padding-top: 5px;
}

.gallery .col-lg-3 {
    padding-left: 0;
    padding-right: 0;
}

@media (max-width:450px) {
    .header img {
        max-width: 150px;
        height: auto;
    }
}


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }
}



.pic1 {
    background: white url(images/pic1.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 91px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-size: 26px;
    color:#504d49;
    margin-top: 50px;
}

.pic1 p {
    text-align: center;
    padding-top: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 200;
}


.service {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.services h3{
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    color:#504d49;
    font-weight: 200;
}

.services h4{
    font-weight: 200;
    color:#504d49;
}

.carousel{
    height: calc(100vh - 180px);
    width: calc(100vh - 180px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img{
    display: flex;
    align-items: center;
}

.contact {
    background: url(images/contact.png) no-repeat center center;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .container{
    background:#504d48;
    color:white;
    width: 600px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 0px 20px #fc5439;
}
.form-box h3 {
    color:white;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 40px;
}

.form-input{
    width: 100%;

}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: none;
  }

  input[type=submit]{
    background-color: #fc5439;
    color: white;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    float: right;
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .lowerline{
      padding-top: 20px;
      
      background-color:#fc5439;
      height: 220px;
      color: #504d49;
      text-align: center;
      font-size: 15px;
  }

  .fontawesome{
     font: caption;
     font-size: 38px;
     
  }